footer.foot
    div.foot__contacts
        span.common__description.common__description--small.foot__site-copyright
            |© ООО «Русский Кварц», 2019
        span.common__description.common__description--small.foot__address
            |456870, Россия, Челябинская область, город Кыштым, Каслинское шоссе, дом 3
        ul.foot__contacts-list
            li.foot__contacts-item
                span.foot__contacts-hint
                    |Телефон
                a.foot__phone(href="")
                    |+7 (35151) 4-38-45
            li.foot__contacts-item
                span.foot__contacts-hint
                    |Факс
                span.foot__fax
                    |+7 (35151) 4-38-48
        p.common__description.common__description--small
            |Если у вас остались вопросы, напишите нам, и наш сотрудник ответит вам в кратчайшие сроки.
        button.common__button.foot__feedback-button.js-popup-button(data-for="feedback")
            |Связаться с нами
    nav.sitemap.foot__sitemap
        div.sitemap__container
            ul.sitemap__list
                li.sitemap__item
                    a.sitemap__link(href="")
                        |О предприятии
                    ul.sitemap__submenu-list
                        li.sitemap__submenu-item
                            a.sitemap__submenu-link(href="")
                                |История
                        li.sitemap__submenu-item
                            a.sitemap__submenu-link(href="")
                                |Руководство предприятия
                        li.sitemap__submenu-item
                            a.sitemap__submenu-link(href="")
                                |Месторождение
                        li.sitemap__submenu-item
                            a.sitemap__submenu-link(href="")
                                |Производство
                        li.sitemap__submenu-item
                            a.sitemap__submenu-link(href="")
                                |Собственная аналитическая лаборатория
                        li.sitemap__submenu-item
                            a.sitemap__submenu-link(href="")
                                |Система качества РК
                        li.sitemap__submenu-item
                            a.sitemap__submenu-link(href="")
                                |Лицензии и сертификаты
            ul.sitemap__list
                li.sitemap__item
                    a.sitemap__link(href="")
                        |Продукция
                    ul.sitemap__submenu-list
                        li.sitemap__submenu-item
                            a.sitemap__submenu-link(href="")
                                |RQ-2KFf
                        li.sitemap__submenu-item
                            a.sitemap__submenu-link(href="")
                                |RQ-2Ki
                        li.sitemap__submenu-item
                            a.sitemap__submenu-link(href="")
                                |RQ-3K
                        li.sitemap__submenu-item
                            a.sitemap__submenu-link(href="")
                                |RQ-2Kf
                        li.sitemap__submenu-item
                            a.sitemap__submenu-link(href="")
                                |RQ-2K
                        li.sitemap__submenu-item
                            a.sitemap__submenu-link(href="")
                                |RQ-1K
            ul.sitemap__list
                li.sitemap__item
                    a.sitemap__link(href="")
                        |Информация покупателям
                    ul.sitemap__submenu-list
                        li.sitemap__submenu-item.sitemap__submenu-item--active
                            //a.sitemap__submenu-link(href="")
                            |Области применения продукции РК
                        li.sitemap__submenu-item
                            a.sitemap__submenu-link(href="")
                                |Как выглядит готовая упакованная продукция
                        li.sitemap__submenu-item
                            a.sitemap__submenu-link(href="")
                                |Логистика
            ul.sitemap__list
                li.sitemap__item.sitemap__item--active
                    //a.sitemap__link(href="")
                    |Контактная информация
                li.sitemap__item
                    a.sitemap__link(href="")
                        |Брошюры для скачивания
    div.developer.foot__developer
        a.developer__link(href="")
            |Dextra
        span.developer__hint
            |Разработка
            br
            |сайта