section.hidden-block
    div.hidden-block__background
    div.hidden-block__close-button.js-close-popup-button
    div.hidden-block__container
        div.popup.popup--search.hidden-block__popup(data-popup="search")
            form.form
                div.form__group
                    input.form__search-input(placeholder="Поиск по сайту" type="text" autocomplete="off" data-req)
                    button.form__search-submit-button(type="submit")
                        svg(width="22" height="22")
                            use(xlink:href="#search-icon")
        div.popup.hidden-block__popup(data-popup="feedback")
            div.popup__text
                h1.common__h1-heading.common__h1-heading--white.popup__heading
                    |Связаться с нами
                p.common__description.common__description--white
                    |Обратите внимание, отправляя данную форму, вы даете согласие на обработку 
                    a(href="")
                        |персональных данных
                    |. Поля со звездочкой «*» – обязательны для заполнения.
            form.form
                div.form__cols
                    div.form__col
                        div.form__group
                            label.form__label
                                |Ваше имя
                                span.form__req-sign
                                    |*
                            input.form__input(type="text" data-req data-content="name" autocomplete="off")
                        div.form__group
                            label.form__label
                                |Электронная почта
                                span.form__req-sign
                                    |*
                            input.form__input(type="text" data-req data-content="mail" autocomplete="off")
                        div.form__group
                            label.form__label
                                |Телефон
                            input.form__input(type="text" data-content="phone" autocomplete="off")
                        div.form__group
                            label.form__label
                                |Название компании
                            input.form__input(type="text" autocomplete="off")
                    div.form__col
                        div.form__group
                            label.form__label
                                |Текст сообщения
                                span.form__req-sign
                                    |*
                            textarea.form__textarea(data-req data-type="textarea" autocomplete="off")
                button.common__button.common__button--white.form__submit-button(type="submit")
                    |Отправить  