doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
        link(rel="stylesheet" href="style/normalize.css" type="text/css")
        link(rel="stylesheet" href="style/swiper.css" type="text/css")
        link(rel="stylesheet" href="style/main.css" type="text/css")
        title Русский Кварц. Страница одного продукта
    body.content
        div(style="display: none")
            include ../../build/images/sprite.svg
        header.head
            div.logo.head__logo
                a.logo__link(href="")
                    svg(width="145" height="107")
                        use(xlink:href="#main-logo")
            aside.head__aside
                div.head__rows
                    div.head__row
                        ul.head__lang-list
                            li.head__lang-item
                                a.head__lang-link(href="")
                                    |Eng
                            li.head__lang-item
                                a.head__lang-link(href="")
                                    |中文
                        a.head__phone(href="tel:")
                            |+7 (35151) 4-38-45
                        button.head__feedback-button.js-popup-button(data-popup-for="feedback")
                            |Связаться с нами
                    div.head__row
                        nav.main-nav
                            ul.main-nav__list
                                li.main-nav__item
                                    a.main-nav__link(href="")
                                        |О предприятии
                                li.main-nav__item.main-nav__item--active
                                    //a.main-nav__link(href="")
                                    |Продукция
                                li.main-nav__item
                                    a.main-nav__link(href="")
                                        |Информация покупателям
                                    ul.main-nav__submenu-list
                                        li.main-nav__submenu-item
                                            a.main-nav__submenu-link(href="")
                                                |Области применения продукции РК
                                            ul.main-nav__submenu-list.main-nav__submenu-list--level2
                                                li.main-nav__submenu-item
                                                    a.main-nav__submenu-link(href="")
                                                        |Светотехническая промышленность
                                                li.main-nav__submenu-item.main-nav__submenu-item--active
                                                    //a.main-nav__submenu-link(href="")
                                                    |Оптическая промышленность
                                                li.main-nav__submenu-item
                                                    a.main-nav__submenu-link(href="")
                                                        |Фотоэлектрическая промышленность
                                                li.main-nav__submenu-item
                                                    a.main-nav__submenu-link(href="")
                                                        |Полупроводниковая промышленность
                                        li.main-nav__submenu-item
                                            a.main-nav__submenu-link(href="")
                                                |Как выглядит упакованная готовая продукция
                                        li.main-nav__submenu-item
                                            a.main-nav__submenu-link(href="")
                                                |Логистика
                                li.main-nav__item
                                    a.main-nav__link(href="")
                                        |Контактная информация
                                li.main-nav__item
                                    button.main-nav__search-button.js-popup-button(data-popup-for="search")
                                        svg(width="12" height="12")
                                            use(xlink:href="#search-icon")
            div.burger.head__burger.js-burger
                div.burger__default
                    div.burger__stroke
                div.burger__cross
        main.main
            section.inner-intro.inner-intro--product
                div.breadcrumps
                    ul.breadcrumps__list
                        li.breadcrumps__item
                            a.breadcrumps__link(href="")
                                |Главная
                        li.breadcrumps__item
                            a.breadcrumps__link(href="")
                                |Продукция
                h1.inner-intro__heading
                    |RQ–2Ki
            section.product
                div.product__info
                    div.product__cols
                        div.product__col
                            div.product__text
                                p.common__description
                                    |RQ-2Ki специально разработан для использования в качестве внутреннего слоя тиглей для солнечной и полупроводниковой индустрии и производства кварцевых труб большого диаметра.
                        div.product__col
                            div.brochure
                                span.common__description
                                    |Буклет кварцевого концентрата RQ-2Ki
                                ul.brochure__buttons-list
                                    li.brochure__buttons-item
                                        a.common__link.brochure__download-link(href="file:")
                                            |Скачать
                                        span.common__link-hint
                                            |pdf, 3.2 мб
                                    li.brochure__buttons-item
                                        button.common__button-link.brochure__press-button
                                            |Распечатать
                div.composition.product__composition
                    div.composition__tables
                        h3.common__h3-heading.composition__heading
                            |Содержание примесей, ppm
                        div.composition__table-wrapper
                            div.composition__table-scroller
                                table.composition__table
                                    tr
                                        th
                                        th
                                            |Спецификация
                                        th
                                            |Типичное значение
                                    tr
                                        td
                                            |Аллюминий (Al)
                                        td
                                            |5
                                        td
                                            |4.1
                                    tr
                                        td
                                            |Бор (B)
                                        td
                                            |0.1
                                        td
                                            |&lt;&nbsp;0.1
                                    tr
                                        td
                                            |Кальций (Ca)
                                        td
                                            |0.5
                                        td
                                            |0.1
                                    tr
                                        td
                                            |Хром (Cr)
                                        td
                                            |0.01
                                        td
                                            |&lt;&nbsp;0.01
                                    tr
                                        td
                                            |Медь (Cu)
                                        td
                                            |0.01
                                        td
                                            |&lt;&nbsp;0.01
                                    tr
                                        td
                                            |Железо (Fe)
                                        td
                                            |0.4
                                        td
                                            |0.1
                                    tr
                                        td
                                            |Калий (K)
                                        td
                                            |0.3
                                        td
                                            |0.1
                                    tr
                                        td
                                            |Литий (Li)
                                        td
                                            |0.4
                                        td
                                            |0.3
                                    tr
                                        td
                                            |Магний (Mg)
                                        td
                                            |0.2
                                        td
                                            |0.1
                                    tr
                                        td
                                            |Никель (Ni)
                                        td
                                            |0.01
                                        td
                                            |&lt;&nbsp;0.01
                                    tr
                                        td
                                            |Натрий (Na)
                                        td
                                            |0.5
                                        td
                                            |0.3
                                    tr
                                        td
                                            |Титан (Ti)
                                        td
                                            |3
                                        td
                                            |2.8
                        h3.common__h3-heading.composition__heading
                            |Гранулометрический состав
                        div.composition__table-wrapper
                            div.composition__table-scroller
                                table.composition__table
                                    tr
                                        th
                                            |Меш
                                        th
                                            |Микрометры (um)
                                        th
                                            |Допуск (масс, %)
                                    tr
                                        td
                                            |&gt;&nbsp;80
                                        td
                                            |&gt;&nbsp;180
                                        td
                                            |&lt;&nbsp;3
                                    tr
                                        td
                                            |200&#8209;80
                                        td
                                            |75&#8209;180
                                        td
                                            |&gt;&nbsp;87
                                    tr
                                        td
                                            |&lt;&nbsp;200
                                        td
                                            |&lt;&nbsp;75
                                        td
                                            |&lt;&nbsp;10
                    //div.product__compare
                        span.product__compare-hint
                            |Сравнить
                        ul.product__compare-list
                            li.product__compare-item
                                button.product__compare-button
                                    |RQ-1K
                                a(href="")
                                    |Страница сорта
                            li.product__compare-item
                                button.product__compare-button
                                    |RQ-2KFf
                                a(href="")
                                    |Страница сорта
                            li.product__compare-item
                                button.product__compare-button
                                    |RQ-2Kf
                                a(href="")
                                    |Страница сорта
                            li.product__compare-item
                                button.product__compare-button
                                    |RQ-2K
                                a(href="")
                                    |Страница сорта
                            li.product__compare-item
                                button.product__compare-button
                                    |RQ-3K
                                a(href="")
                                    |Страница сорта
                div.product__info
                    div.product__cols
                        div.product__col
                            div.product__text
                                p.common__description.common__description--large
                                    |Концентрат RQ-2Kf произведен из уникального кварца Кыштымского месторождения в России.
                        div.product__col
                            div.product__text
                                p.common__description
                                    |Кыштымский кварц отличается высочайшей химической чистотой и прозрачностью и в течение более чем 50 лет успешно используется для производства кварцевых труб различного диаметра, кварцевых заготовок и кварцевых тиглей для солнечной и полупроводниковой промышленности.
                
        //= partials/footer.pug
        //= partials/popup.pug
             
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        script(src="script/vendor.js" type="text/javascript")
        script(src="script/script.js")


