doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="style/normalize.css")
        link(rel="stylesheet" href="style/main.css")
        title Русский Кварц
    body
        main
            section
                p
                    a.common__link(href="index.html")
                        |Главная
                p
                    a.common__link(href="default.html")
                        |Типовая
                p
                    a.common__link(href="catalogue.html")
                        |Каталог
                //p
                    a.common__link(href="product-card.html")
                        |Карточка товара/сорта
                p
                    a.common__link(href="contacts.html")
                        |Контактная информация

            