// Общие цвета
black = #000000
white = #ffffff
main-blue = #113e92
deep-blue = #0c3581
gray-blue = #a6b0cd
light-blue = #184495
medium-blue = #28519c
lightest-blue = #4165a8
gray = #858585
light-gray = #f0f0f0
lightest-gray = #f8f8f8
light-red = #ba4d64

// Разрешения
desktop-medium = "(max-width: 1680px)"
desktop-small = "(max-width: 1580px)"
laptop = "(max-width: 1480px)"
tablet-landscape-large = "(max-width: 1300px)"
tablet-landscape-medium = "(max-width: 1200px)"
tablet-landscape-small = "(max-width: 1100px)"
tablet-portrait = "(max-width: 960px)"
phone = "(max-width: 600px)"