@font-face
    font-family: "Montserrat"
    src: url("../fonts/montserrat-regular.woff2") format("woff2")
    font-weight: 300
    font-style: normal

@font-face
    font-family: "Montserrat"
    src: url("../fonts/montserrat-semibold.woff2") format("woff2")
    font-weight: 600
    font-style: normal

@font-face
    font-family: "Montserrat"
    src: url("../fonts/montserrat-medium.woff2") format("woff2")
    font-weight: 500
    font-style: normal



@import "helpers/vars.styl"
@import "partials/common.styl"
@import "partials/animations.styl"



.content
    background-color white



@import "partials/header.styl"
@import "partials/main-slider.styl"
@import "partials/catalogue.styl"
@import "partials/location.styl"
@import "partials/vein.styl"
@import "partials/row-slider.styl"
@import "partials/footer.styl"
@import "partials/popup.styl"
@import "partials/inner-intro.styl"
@import "partials/default.styl"

