@keyframes main-slider-heading-fade-in
    0%
        top 30px
        opacity 0
    40%
        top 30px
        opacity 0
    100%
        top 0
        opacity 1

@keyframes main-slider-description-fade-in
    0%
        top 30px
        opacity 0
    50%
        top 30px
        opacity 0
    100%
        top 0
        opacity 1