.default
    width 1050px
    margin 31px auto 100px auto
    @media laptop
        width 856px
    @media tablet-portrait
        width calc(100% - 60px)
    @media phone
        width calc(100% - 40px)